.dropdown-menu a:hover {
    background-color: #126efd;
    color: white;
}
#nav-dropdown-dark-example{
    color: white !important;
}
.dropdown-menu{
    left: -120px !important;
}
.dropdown-menu a{ 
    text-decoration: none;
}
.navbar-toggler-icon{
    color: white !important;
}
